.bg-screen{
    background: linear-gradient(91.98deg, rgba(71, 185, 238, 0.6) 0%, rgba(187, 69, 234, 0.6) 100%);

}

.login-btn{
    border-radius: 3rem;
    background: linear-gradient(91.98deg, #47B9EE 0%, #BB45EA 100%);

}